.MainHeroHolder {
  height: 100vh;
  background-color: #1e1e1e;
  overflow: hidden;
}
.LightHolder {
  /* background-color: green; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  /* z-index: -1; */
}

.HeroHolder {
  height: 1144px;
  overflow: hidden;
}

.Holders {
  /* overflow: hidden;
  background-color: blue; */
}

.LeftFront,
.LeftBack,
.RightFront,
.RightBack {
  height: 100vh;
  /* background-color: blue; */
  width: 100vw;
  position: absolute;
  inset: 0;
}

.TitleHolder {
}

.NameHolder {
  display: flex;
  justify-content: center;
}
.Name {
  position: absolute;
  top: 0px;
  color: white;
  font-size: 36px;
}

.FEDHolder {
  display: flex;
  justify-content: center;
  width: 100%;
}
.FED {
  position: absolute;
  top: 0px;
  color: white;
  font-size: 96px;
  z-index: 80;
}

.Light {
  /* position: absolute; */
  top: -80px;
  display: flex;
  justify-content: center;
}

.ChildTextHolderHero {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
  overflow: hidden;
  font-weight: 900;
  font-size: 96px;
  color: rgb(255, 0, 0);
  line-height: 85%;
}

.ChildTextHero {
  display: inline-block;
}

.ChildText2HolderHero {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
}

.ChildText2Hero {
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  .MainHeroHolder {
    /* background-color: lightgreen; */
  }

  .Name {
    font-size: 24px;
  }

  .FED {
    font-size: 72px;
  }
}

@media screen and (max-width: 720px) {
  .MainHeroHolder {
    /* background-color: rgb(200, 99, 209); */
  }

  .Name {
    font-size: 24px;
  }

  .FED {
    font-size: 48px;
  }
}

@media screen and (max-width: 500px) {
  .MainHeroHolder {
    /* background-color: rgb(62, 34, 65); */
  }

  .Name {
    font-size: 16px;
  }
  .FEDHolder {
    display: flex;
    justify-content: center;
    background-color: red;
    margin: auto;
    width: 100%;
  }

  .FED {
    font-size: 36px;
  }
}
